.bg-darkBlue{
  background-color: #111430;
}
.bg-lightBlue{
  background-color: #C6FFE0;
  color: #009444;
}
/* If the screen size is 600px wide or less, set the font-size of h1 to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px !important;
    margin-top: 10px;
  }
  .header-container {
    height: 800px;
}
  .header-main div{
   padding-bottom: 40px;
  }
  .client-section img{
    height: 25px !important;
  }
}
